/* TAGS */
* {
    font-family: "Gayathri", "Century Gothic", sans-serif;
}

body {
    background-color: rgb(88,141,161);
    margin: 0; text-align: center;
}

input {
    font-size: 15px;
    border: none;
    padding: 2px;
}

input[type=number] {
    width: 40px;
}

button {
    font-size: 15px;
    border: none;
    padding: 5px;
}

/* CLASSES */
.hide {
    display: none;
}

.div {
    margin-bottom: 50px;
}

.statOp {
    display: inline;
}

.stat {
    font-weight: bold;
}

#members {
    width: 60%;
    margin: auto;
}

.memBox {
    float: left;
    width: 40%;
    margin-top: 30px;
    padding: 5%;
    overflow: hidden;
}

.memPic {
    width: 70%;
}

.memTitle {
    font-weight: bold;
}

/* IDs */
#content {
    width: 60%;
    margin: auto;
    padding: 30px;
    overflow: hidden;
    position: relative;
    top: 85vh;
    color: rgb(239,239,239);
    background-color: rgb(44,44,44);
}

#content * {
    color: rgb(239,239,239);
}

#content input {
    color: rgb(44,44,44);
}

#content button {
    color: rgb(44,44,44);
    background-color: rgb(238,144,28);
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
}

#content select {
    color: rgb(44,44,44);
}

#content select * {
    color: rgb(44,44,44);
}

#menuContainer {
    background-color: rgb(44,44,44);
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    height: 13vh;
    overflow: auto;
}

#menu li {
    list-style-type: none;
    margin: 0;
    display: inline;
    padding: 0 40px 0 40px;
}

#menu a {
    color: rgb(239,239,239);
    font-size: 1.5em;
    text-decoration: none;
    padding: 10px;
    margin: 0;
    cursor: pointer;
}

#menu a:hover {
    color: rgb(238,144,28);
    transition-duration: 0.2s;
}

#logo {
    height: 40px;
}

#frontpage {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;
}

#frontPic {
    width: 100%;
}

#main {
    width: 80%;
    margin: auto;
}

#main p {
    font-size: 1.2em;
}

#statSearch span {
    margin-left: 20px;
}

#plotDiv {
    margin: auto;
    width: 70%;
}

#historyTable {
    width: 600px;
    margin: auto;
}

#infoRow {
    font-weight: bold;
}

#bottomLogo {
    position: fixed;
    bottom: 0;
    right: 10px;
    height: 50px;
}