/* TAGS */
* {
    font-family: "Gayathri", "Century Gothic",sans-serif;
    color: rgb(239,239,239);
}

body {
    background-color: rgb(44,44,44);
    margin: 0; text-align: center;
}

input {
    font-size: 15px;
    background-color: rgb(239,239,239);
    color: rgb(44,44,44);
    border: none;
    padding: 2px;
}

input[type=number] {
    width: 40px;
}

button {
    font-size: 15px;
    background-color: rgb(239,239,239);
    color: rgb(44,44,44);
    border: none;
    padding: 5px;
}

/* CLASSES */
.hide {
    display: none;
}

.div {
    margin-bottom: 50px;
}

.statOp {
    display: inline;
}

.stat {
    font-weight: bold;
}


/* IDs */
#content {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

#menuContainer {
    background-color: rgb(44,44,44);
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
}



#menu li {
    list-style-type: none;
    margin: 0;
    display: inline;
    padding: 0 40px 0 40px;
}

#menu a {
    font-size: 1.5em;
    text-decoration: none;
    padding: 10px;
    margin: 0;
}

#menu a:hover {
    color: rgb(238,144,28);
    transition-duration: 0.2s;
}

#logo {
    height: 40px;
}

#frontpage {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(img/frontpage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    top: 12vh;
}

#frontPic {
    width: 100%;
}

#main {
    width: 80%;
    margin: auto;
}

#main p {
    font-size: 1.2em;
}

#statSearch span {
    margin-left: 20px;
}

#plotDiv {
    margin: auto;
}

#historyTable {
    width: 600px;
    margin: auto;
}

#infoRow {
    font-weight: bold;
}

#bottomLogo {
    position: fixed;
    bottom: 0;
    right: 10px;
    height: 50px;
}